@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/**@import 'booststrap-icons/font/bootstrap-icons.css'; **/

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Outfit", sans-serif;
  background-color: #EDE6E6;
  color: #615B5B;
}